@tailwind base;

html,
body {
}

a {
  color: #0366d6;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

hr {
  @apply mt-10;
  border: 1px solid #ddd;
}

@tailwind components;

@tailwind utilities;

@layer components {
  .glass-outer {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(20px);
  }

  .glass-inner {
    background: linear-gradient(
      131.95deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.3) 95.21%
    );
    backdrop-filter: blur(20px);
  }

  .linear-border {
    background: linear-gradient(
      131.95deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.3) 95.21%
    );
  }
}
